In [3]:
# Load needed libraries
import numpy as np
import pandas as pd
import subprocess

from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

In [2]:
# Let's load and check the data
data = pd.read_csv("./sequences.csv", sep=",", header=None)
print(data.shape)
data.head()

(3009, 6)

,0,1,2,3,4,5
0,LinJ.01,173,1,173,plus,ACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCA...
1,LinJ.01,1000,13302,14301,plus,GTCGACCGTGCAAGAGGAACTCAACACCGCTCTACTCGGCGTGTCA...
2,LinJ.01,699,24093,24791,plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...
3,LinJ.01,845,35316,36160,plus,GAGGTGGAGGCCGCTCTGCCCCCCCCGCCGCCGAGTGCTGCAGGCA...
4,LinJ.01,892,39698,40589,plus,CTCACCCTCATCCCACCCCTCCTCGTCCATCGACGGGAGTGGGCGG...

In [6]:
# Load needed information
dict_path = "../Data/genome/TriTrypDB-67_LinfantumJPCM5_Genome.fasta"  # Path to the genome

In [7]:
# Prepare functions
def blastn_blaster(query_path, dict_path, evalue):
    cmd = "blastn -word_size 11 -query " \
        + query_path + " -db " \
        + dict_path \
        + " -evalue " + str(evalue) \
        + " -outfmt 10"
    data = subprocess.check_output(cmd, shell=True, universal_newlines=True)  # Important the E value
    return data

def fasta_creator(sequence, index, fasta_output_path):
    rec = SeqRecord(Seq(sequence),
                    id="Seq_" + str(index),
                    description="Leishmania infantum"
                    )
    SeqIO.write(rec, fasta_output_path, "fasta")

Let's make some tests:

In [43]:
query = "CCCTCACCCTAACCCTAACCCTAACCCTCACCCTAACCCTAACCCAACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACAACCAGTACACCAG"

fasta_creator(query, 1, "./filtered_data/test1.fasta")
test = blastn_blaster("./filtered_data/test1.fasta", dict_path, 1.0E-09).strip().split("\n")

In [44]:
test

['']

In [22]:
type(test)

list

In [25]:
test_df = pd.DataFrame([x.split(",") for x in test if x])
test_df.head()

      0        1        2    3  4  5  6    7       8       9         10   11
0  Seq_1  LinJ.34  100.000  183  0  0  1  183  767842  768024  4.50e-93  339
1  Seq_1  LinJ.34  100.000  183  0  0  1  183  771173  771355  4.50e-93  339
2  Seq_1  LinJ.34  100.000  183  0  0  1  183  784281  784463  4.50e-93  339
3  Seq_1  LinJ.34  100.000  183  0  0  1  183  787612  787794  4.50e-93  339
4  Seq_1  LinJ.34  100.000  183  0  0  1  183  790944  791126  4.50e-93  339

In [42]:
test_df[1].nunique()

4

In [46]:
matches = pd.Series([False] * 50)
print(matches)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool