In [5]:
import numpy as np
import pandas as pd
import subprocess
import os

from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

In [6]:
data_negative = pd.read_csv("./negatives_testing_elements.csv", sep="," , header=None)
data_negative.head()

,0,1,2,3,4,5
0,LinJ.01,1000,13302,14301,plus,GTCGACCGTGCAAGAGGAACTCAACACCGCTCTACTCGGCGTGTCA...
1,LinJ.01,998,72760,73757,plus,CGTGTGTTTGTGAGGGGTAAGAATCGACCATGCATCAACGACTGCG...
2,LinJ.01,599,113760,114358,plus,CAGCGCCATGCACGACATGGCCGCTGACGTCCGTAGCCCTAACTCG...
3,LinJ.01,1000,214971,215970,plus,GGGTGTGTACACGAACGTCGAGCCGTGCCGCGGAGCCCCGATGCAC...
4,LinJ.01,213,272910,273122,plus,TCTCTGTCTTCACTTCCTCGGTGCGTCTGGTGGTGGTTGCGCCTCT...

In [21]:
data_negative[data_negative[0] == "LinJ.01"]

,0,1,2,3,4,5
0,LinJ.01,1000,13302,14301,plus,GTCGACCGTGCAAGAGGAACTCAACACCGCTCTACTCGGCGTGTCA...
1,LinJ.01,998,72760,73757,plus,CGTGTGTTTGTGAGGGGTAAGAATCGACCATGCATCAACGACTGCG...
2,LinJ.01,599,113760,114358,plus,CAGCGCCATGCACGACATGGCCGCTGACGTCCGTAGCCCTAACTCG...
3,LinJ.01,1000,214971,215970,plus,GGGTGTGTACACGAACGTCGAGCCGTGCCGCGGAGCCCCGATGCAC...
4,LinJ.01,213,272910,273122,plus,TCTCTGTCTTCACTTCCTCGGTGCGTCTGGTGGTGGTTGCGCCTCT...
5,LinJ.01,210,273188,273397,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTTGCGCCTCTCT...
6,LinJ.01,211,273449,273659,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTTGCGCCTCTCT...
7,LinJ.01,210,273725,273934,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTTGCGCCTCTCT...
8,LinJ.01,179,273988,274166,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTCGCGCCTCTTT...
9,LinJ.01,206,274252,274457,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTCGCGCCTCTTT...
10,LinJ.01,211,274511,274721,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTCGCGCCTCTTT...
11,LinJ.01,187,274773,274959,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTTGCGCCTCTCT...
12,LinJ.01,202,275045,275246,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTTGCGCCTCTCT...
13,LinJ.01,206,275312,275517,plus,CTCTCCCTCACTCCCTCGGTGCGTGTGGTGGTGGTCGCGCCTCTTT...

In [22]:
data_negative[data_negative[0] == "LinJ.01"].iloc[2, 5]

'CAGCGCCATGCACGACATGGCCGCTGACGTCCGTAGCCCTAACTCGCGCTCTGCCGGGGCACTCCCTGACGTCACAGATGCTCGGCCCTGGTCGCCACCACAGGTGGTTCTGGCATGGGCCGGGACGGCGGAGGGAGGAGTGGGGGGTGGGTGGGTGGGTGGGTGGGCGCCCTGCAGCCTGAGGTACCCCCCCCCCACGCACGGAGGTGTGTGCGTGTGTGTGTGTGTGTGTGTGTCTGTGCGCCGCCGCCTCACCCCACAACGATACACGTGCGTGATTGAGCAGAAAATACATACACGCACGCGCACAGATGCCTTCGTCCCCTTCTTCTCCTTCCAACCGGCCTCAAATTTTGTTGCCGCCCTGCCCCCTCCCCTTCCCTCAGTCCCTCTATCTACGTGTCTGAGCCTCATCACATTCTAACCACACAGGGCTCCTGCGCCGGCACGCACTGCCACGATCACCGCCTCTGCCGCCCACCTACCCACCGCCTCTCCTCCGTACCGGCCTTCCCGTGTTTGCCTTGAAGACTCACCGGCTCGTTCACCGCCGTCGATAGCCGCACCGCAACACGAAACAGTGCACTGCTGTCCGACGG'

In [7]:
# Define fasta_creator file
def fasta_creator(data, fasta_output_path):
    matrix = []
    for index, sequence in data.iterrows():
        index += 1
        rec = SeqRecord(Seq(sequence[5]),  # In the 5 position is the seq
                        id="Seq_" + str(index),
                        description="Leishmania infantum"
                        )
        matrix.append(rec)
    SeqIO.write(matrix, fasta_output_path, "fasta")

In [8]:
 # Create fasta
fasta_creator(data_negative, "./blaster_neg/negatives.fasta")

Now let's launch the BLASTN

Let's prepare the "ingi" data in fasta

In [9]:
ingi = "CCCTGGCGATGCCGGCCACCTCAACGTGGTGCCAGGGTCCAGTACCCCGTATCATCGGGGGAAGCCAAGAGCCAGCAGC"
len(ingi)

79

In [10]:
# Prepare functions
# Let's define the BLASTn dictionary function
def blastn_dic(path_input):
    os.system("makeblastdb -in " + path_input + " -dbtype nucl -parse_seqids")
    print("\nBlast Dictionary created in", path_input)

#And the blaster
def blastn_blaster(query_path, dict_path, perc_identity):
    cmd = "blastn -word_size 11 -query " \
        + query_path + " -db " \
        + dict_path \
        + " -perc_identity " + str(perc_identity) \
        + " -outfmt 10"
    data = subprocess.check_output(cmd, shell=True, universal_newlines=True)  # Important the E value
    return data

In [11]:
# Let's make the dict
blastn_dic("./blaster_neg/negatives.fasta")

Building a new DB, current time: 04/17/2024 14:02:43
New DB name:   /home/rfpacheco/Desktop/Projects/Testing_Leishmania_project/BEDOPS_join_strands/filtered_data/blaster_neg/negatives.fasta
New DB title:  ./blaster_neg/negatives.fasta
Sequence type: Nucleotide
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 1058 sequences in 0.113745 seconds.



Blast Dictionary created in ./blaster_neg/negatives.fasta

In [12]:
# Let's make a fasta only for ingi:
def fasta_creator2(sequence, index, fasta_output_path):
    rec = SeqRecord(Seq(sequence),
                    id="ingi_" + str(index),
                    description="Trypanosoma brucei ingi element"
                    )
    SeqIO.write(rec, fasta_output_path, "fasta")

In [13]:
fasta_creator2(ingi, 1, "./blaster_neg/ingi.fasta")

In [14]:
blastn_data = blastn_blaster("./blaster_neg/ingi.fasta", "./blaster_neg/negatives.fasta", 0)

In [15]:
blastn_data.strip().split("\n")

['ingi_1,Seq_543,87.097,31,4,0,9,39,447,477,4.48e-04,36.2',
 'ingi_1,Seq_536,100.000,16,0,0,8,23,2,17,0.021,30.7',
 'ingi_1,Seq_745,93.750,16,1,0,4,19,159,144,0.97,25.1',
 'ingi_1,Seq_742,93.750,16,1,0,4,19,679,664,0.97,25.1',
 'ingi_1,Seq_738,93.750,16,1,0,4,19,159,144,0.97,25.1',
 'ingi_1,Seq_659,100.000,12,0,0,8,19,259,248,3.5,23.3',
 'ingi_1,Seq_658,100.000,12,0,0,8,19,259,248,3.5,23.3',
 'ingi_1,Seq_657,100.000,12,0,0,8,19,259,248,3.5,23.3',
 'ingi_1,Seq_656,100.000,12,0,0,8,19,259,248,3.5,23.3',
 'ingi_1,Seq_655,100.000,12,0,0,8,19,691,680,3.5,23.3',
 'ingi_1,Seq_654,100.000,12,0,0,8,19,691,680,3.5,23.3',
 'ingi_1,Seq_653,100.000,12,0,0,8,19,259,248,3.5,23.3',
 'ingi_1,Seq_652,100.000,12,0,0,8,19,126,115,3.5,23.3',
 'ingi_1,Seq_282,100.000,12,0,0,11,22,221,232,3.5,23.3']

In [16]:
# To data frame
blastn_data_df = pd.DataFrame([x.split(",") for x in blastn_data.strip().split("\n")])
blastn_data_df.head()

       0        1        2   3  4  5  6   7    8    9         10    11
0  ingi_1  Seq_543   87.097  31  4  0  9  39  447  477  4.48e-04  36.2
1  ingi_1  Seq_536  100.000  16  0  0  8  23    2   17     0.021  30.7
2  ingi_1  Seq_745   93.750  16  1  0  4  19  159  144      0.97  25.1
3  ingi_1  Seq_742   93.750  16  1  0  4  19  679  664      0.97  25.1
4  ingi_1  Seq_738   93.750  16  1  0  4  19  159  144      0.97  25.1

In [17]:
blastn_data_df.shape

(14, 12)

In [18]:
blastn_data_df[1].nunique()

14

In [20]:
14/1058

0.013232514177693762