# Code

In [2]:
import pandas as pd

## Load Data

From the elements that our software searched using the 2 LmSIDER elements + the consensus after that, let's join:
- Elements that passed the filter: 2069 sequences
- Elements that did not pass the filter but have the hallmark win an evalue of $< 10^{-3}$ ==> 23 elements

In [3]:
# Let's load the data
positive_elem = pd.read_csv("./data/consensus+LmSIDER2A+B/positives_testing_elements.csv", sep=",", header=0)
print(positive_elem.shape)
print(positive_elem.dtypes)
positive_elem.head()

(2069, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LinJ.01,1,1000,plus,ACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCA...
1,LinJ.01,24093,25080,plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...
2,LinJ.01,35371,36297,plus,ACTCCCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...
3,LinJ.01,39790,40595,plus,ATTCTACCGCGAGCAAGGCAGCACACAGACGCACGCACAGCCACAG...
4,LinJ.01,54983,55909,plus,ACTCTCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...

In [4]:
# Lets load the 23 sequences
recaugh_df = pd.read_csv("./data/consensus+LmSIDER2A+B/neg_matched_with_LmSIDER2A+B_and_evalue_10pow-3.csv", sep=",", header=0)
print(recaugh_df.shape)
print(recaugh_df.dtypes)
recaugh_df.head()

(23, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LinJ.02,259043,259677,plus,CCCCATTGCGTGGCGCGAAGCGGCGCTAGACGCGCACGAAAACACC...
1,LinJ.03,237552,237702,plus,GTGCGGGGGAGCCAGGCAGCCCACCCACCCACCCATCCCCTATCCC...
2,LinJ.04,331481,332011,plus,GTCGCTCTGACCTCCCCCTCTCACGCCCTAGGCACCCTGGCCCTGC...
3,LinJ.04,362873,363525,plus,CATCCGGATGACAGGTGGGGGAGGGGGTGCGCACACCTCAGCGCGT...
4,LinJ.04,391322,391906,plus,GTCGCTCTGACCTCCCCCTCTCACGCCCTAGGCACCCTGGCCCTGC...

In [5]:
# Let's join both dataframes
all_elem = pd.concat([positive_elem, recaugh_df], axis=0, ignore_index=True)
all_elem.sort_values(by=["sseqid", "sstart"], inplace=True)
print(all_elem.shape)
print(all_elem.dtypes)
all_elem.head()

(2092, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LinJ.01,1,1000,plus,ACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCA...
1,LinJ.01,24093,25080,plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...
2,LinJ.01,35371,36297,plus,ACTCCCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...
3,LinJ.01,39790,40595,plus,ATTCTACCGCGAGCAAGGCAGCACACAGACGCACGCACAGCCACAG...
4,LinJ.01,54983,55909,plus,ACTCTCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...

In [6]:
# Save data
all_elem.to_csv("./data/consensus+LmSIDER2A+B/AL_DATA.csv", sep=",", index=False, header=True)