In [2]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_csv("./filtered_data_chr1.csv", sep=",", header=None)
rev_data = pd.read_excel("./filtered_data_chr1-revJMR.xlsx"); rev_data.columns = range(rev_data.columns.size)
rev_data.head()

                    0                                                  1    2
0  Seq_1_LinJ.01_plus  GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...  NaN
1  Seq_2_LinJ.01_plus  GAGGTGGAGGCCGCTCTGCCCCCCCCGCCGCCGAGTGCTGCAGGCA...  NaN
2  Seq_3_LinJ.01_plus  CTCACCCTCATCCCACCCCTCCTCGTCCATCGACGGGAGTGGGCGG...  NaN
3  Seq_4_LinJ.01_plus  TGTTTGGTCTTCCGCGTGTCCGTTTTCGCTGCCGCACACTGCGAGG...  NaN
4  Seq_5_LinJ.01_plus  GAGCGCCGCTGAGCAGGCAAGCGAGGCAACCTACGAAAACATGGCA...  NaN

In [18]:
new_column = pd.read_csv("./values.csv", sep=",", header=None); print(len(new_column))
new_column.head()

33

                    0
0  Seq_0_LinJ.01_plus
1  Seq_1_LinJ.01_plus
2  Seq_2_LinJ.01_plus
3  Seq_3_LinJ.01_plus
4  Seq_4_LinJ.01_plus

In [21]:
rev_data.insert(1, "New_Column", new_column); rev_data.columns = range(rev_data.columns.size)
rev_data.head()

,0,1,2,3
0,Seq_1_LinJ.01_plus,Seq_0_LinJ.01_plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...,NaN
1,Seq_2_LinJ.01_plus,Seq_1_LinJ.01_plus,GAGGTGGAGGCCGCTCTGCCCCCCCCGCCGCCGAGTGCTGCAGGCA...,NaN
2,Seq_3_LinJ.01_plus,Seq_2_LinJ.01_plus,CTCACCCTCATCCCACCCCTCCTCGTCCATCGACGGGAGTGGGCGG...,NaN
3,Seq_4_LinJ.01_plus,Seq_3_LinJ.01_plus,TGTTTGGTCTTCCGCGTGTCCGTTTTCGCTGCCGCACACTGCGAGG...,NaN
4,Seq_5_LinJ.01_plus,Seq_4_LinJ.01_plus,GAGCGCCGCTGAGCAGGCAAGCGAGGCAACCTACGAAAACATGGCA...,NaN

In [23]:
rev_data.insert(2, "New_Column", rev_data.pop(3)); rev_data.columns = range(rev_data.columns.size)
rev_data.head()

,0,1,2,3
0,Seq_1_LinJ.01_plus,Seq_0_LinJ.01_plus,NaN,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...
1,Seq_2_LinJ.01_plus,Seq_1_LinJ.01_plus,NaN,GAGGTGGAGGCCGCTCTGCCCCCCCCGCCGCCGAGTGCTGCAGGCA...
2,Seq_3_LinJ.01_plus,Seq_2_LinJ.01_plus,NaN,CTCACCCTCATCCCACCCCTCCTCGTCCATCGACGGGAGTGGGCGG...
3,Seq_4_LinJ.01_plus,Seq_3_LinJ.01_plus,NaN,TGTTTGGTCTTCCGCGTGTCCGTTTTCGCTGCCGCACACTGCGAGG...
4,Seq_5_LinJ.01_plus,Seq_4_LinJ.01_plus,NaN,GAGCGCCGCTGAGCAGGCAAGCGAGGCAACCTACGAAAACATGGCA...

In [24]:
rev_data.to_csv("./adjusted_data_chr1-revJMR.csv", sep=",", header=False, index=False)