In [2]:
import numpy as np
import pandas as pd
import os
import subprocess


from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

In [1]:
L1Tc = "CCCTGGCTCAGCCGGCCACCTCAACGTGGTGCCAGGGTCTAGTACTCTTTGCTAGAGAGGAAGCTAAGCGCCTGCTGCCCATCC"

In [3]:
def fasta_creator2(sequence, index, fasta_output_path, description_name):
    rec = SeqRecord(Seq(sequence),
                    id="ingi_" + str(index),
                    description=description_name
                    )
    SeqIO.write(rec, fasta_output_path, "fasta")

In [4]:
fasta_creator2(L1Tc, 1, "./data/L1Tc.fasta", "L1Tc")

In [5]:
#And the blaster
def blastn_blaster(query_path, dict_path, perc_identity):
    cmd = "blastn -word_size 11 -query " \
        + query_path + " -db " \
        + dict_path \
        + " -perc_identity " + str(perc_identity) \
        + " -outfmt '10 qseqid sseqid pident length qstart qend sstart send evalue bitscore qlen slen'"
    data = subprocess.check_output(cmd, shell=True, universal_newlines=True)  # Important the E value
    data = pd.DataFrame([x.split(",") for x in data.split("\n") if x])
    data.columns = ["qseqid", "sseqid", "pident", "length", "qstart", "qend", "sstart", "send", "evalue", "bitscore", "qlen", "slen"]
    return data

In [8]:
L1Tc_df = blastn_blaster("./data/L1Tc.fasta", "../0.Data/genome/L_infantum/TriTrypDB-67_LinfantumJPCM5_Genome.fasta", 60)

In [10]:
print(L1Tc_df.shape)
L1Tc_df.head()

(41, 12)

,qseqid,sseqid,pident,length,qstart,qend,sstart,send,evalue,bitscore,qlen,slen
0,ingi_1,LinJ.18,91.176,34,11,42,237708,237741,4.26e-05,45.4,84,720431
1,ingi_1,LinJ.18,82.857,35,11,45,418136,418170,0.33,32.5,84,720431
2,ingi_1,LinJ.18,90.476,21,51,71,140133,140113,4.3,28.8,84,720431
3,ingi_1,LinJ.36,92.593,27,18,44,771695,771669,0.002,39.9,84,2743073
4,ingi_1,LinJ.36,88.235,34,12,44,2600543,2600575,0.002,39.9,84,2743073