In [1]:
import numpy as np
import pandas as pd

In [42]:
# Export the positive data for GGBio
positives = pd.read_csv("./data/positives_testing_elements.csv", sep=",", header=None)  # Load data
print(f"==> Shape: {positives.shape}")  # Show shape
positives = positives.iloc[:,[0, 2, 3, 4]]  # Keep only the columns of interest
positives.columns = range(positives.shape[1])  # Reset column names
positives.to_csv("./data/for_ggbio/1.positives_testing_elements.csv", sep=",", header=None, index=None)  # Save data to a CSV file
positives.head()

==> Shape: (1951, 6)

         0      1      2     3
0  LinJ.01      1    173  plus
1  LinJ.01  24093  24791  plus
2  LinJ.01  35316  36160  plus
3  LinJ.01  39698  40589  plus
4  LinJ.01  54885  55772  plus

In [43]:
# Export the negative data for GGBio
negatives = pd.read_csv("./data/negatives_testing_elements.csv", sep=",", header=None)  # Load data
print(f"==> Shape: {negatives.shape}")  # Show shape
negatives = negatives.iloc[:,[0, 2, 3, 4]]  # Keep only the columns of interest
negatives.columns = range(negatives.shape[1])  # Reset column names
negatives.to_csv("./data/for_ggbio/2.negatives_testing_elements.csv", sep=",", header=None, index=None)  # Save data to a CSV file
negatives.head()

==> Shape: (1058, 6)

         0       1       2     3
0  LinJ.01   13302   14301  plus
1  LinJ.01   72760   73757  plus
2  LinJ.01  113760  114358  plus
3  LinJ.01  214971  215970  plus
4  LinJ.01  272910  273122  plus

In [44]:
# Now both of the files with no difference
pos_and_neg_NODIFF = pd.concat([positives, negatives], axis=0)  # Concatenate the data
print(f"==> Shape: {pos_and_neg_NODIFF.shape}")  # Show shape
pos_and_neg_NODIFF.to_csv("./data/for_ggbio/3.pos_and_neg_NODIFF_testing_elements.csv", sep=",", header=None, index=None)  # Save data to a CSV file
pos_and_neg_NODIFF.head()

==> Shape: (3009, 4)

         0      1      2     3
0  LinJ.01      1    173  plus
1  LinJ.01  24093  24791  plus
2  LinJ.01  35316  36160  plus
3  LinJ.01  39698  40589  plus
4  LinJ.01  54885  55772  plus

In [46]:
# No with a difference
positives_diff = positives.copy()  # Copy the data
positives_diff["label"] = "positive"  # Add a column with the label
negatives_diff = negatives.copy()  # Copy the data
negatives_diff["label"] = "negative"  # Add a column with the label
pos_and_neg_DIFF = pd.concat([positives_diff, negatives_diff], axis=0)  # Concatenate the data
print(f"==> Shape: {pos_and_neg_DIFF.shape}")  # Show shape
pos_and_neg_DIFF.columns = range(pos_and_neg_DIFF.shape[1])  # Reset column names
pos_and_neg_DIFF.to_csv("./data/for_ggbio/4.pos_and_neg_DIFF_testing_elements.csv", sep=",", header=None, index=None)  # Save data to a CSV file
pos_and_neg_DIFF.head()

==> Shape: (3009, 5)

         0      1      2     3         4
0  LinJ.01      1    173  plus  positive
1  LinJ.01  24093  24791  plus  positive
2  LinJ.01  35316  36160  plus  positive
3  LinJ.01  39698  40589  plus  positive
4  LinJ.01  54885  55772  plus  positive

In [47]:
# Now for LmSIDER2a new elements
LmSIDER2a = pd.read_csv("./data/genome_LmSIDER2a_NOTIN_pos_and_neg.csv", sep=",", header=0)  # Load data
print(f"==> Shape: {LmSIDER2a.shape}")  # Show shape
LmSIDER2a = LmSIDER2a.iloc[:,[0, 1, 2, 3]]  # Keep only the columns of interest
LmSIDER2a.columns = range(LmSIDER2a.shape[1])  # Reset column names
LmSIDER2a.to_csv("./data/for_ggbio/5.LmSIDER2a.csv", sep=",", header=None, index=None)  # Save data to a CSV file
LmSIDER2a.head()

==> Shape: (40, 5)

         0       1       2      3
0  LinJ.03  263663  263691   plus
1  LinJ.03  281600  281615   plus
2  LinJ.05  110382  110396  minus
3  LinJ.05  360290  360334   plus
4  LinJ.06  203064  203091  minus

In [48]:
# Now for LmSIDER2b new elements
LmSIDER2b = pd.read_csv("./data/genome_LmSIDER2b_NOTIN_pos_and_neg.csv", sep=",", header=0)  # Load data
print(f"==> Shape: {LmSIDER2b.shape}")  # Show shape
LmSIDER2b = LmSIDER2b.iloc[:,[0, 1, 2, 3]]  # Keep only the columns of interest
LmSIDER2b.columns = range(LmSIDER2b.shape[1])  # Reset column names
LmSIDER2b.to_csv("./data/for_ggbio/6.LmSIDER2b.csv", sep=",", header=None, index=None)  # Save data to a CSV file
LmSIDER2b.head()

==> Shape: (10, 5)

         0       1       2      3
0  LinJ.13  507535  507606   plus
1  LinJ.14  430615  430655   plus
2  LinJ.24  478722  478742  minus
3  LinJ.28  520036  520067   plus
4  LinJ.30  276569  276583  minus

In [49]:
# Now both of the files with no difference
LmSIDER2a_and_LmSIDER2b_NODIFF = pd.concat([LmSIDER2a, LmSIDER2b], axis=0)  # Concatenate the data
print(f"==> Shape: {LmSIDER2a_and_LmSIDER2b_NODIFF.shape}")  # Show shape
LmSIDER2a_and_LmSIDER2b_NODIFF.columns = range(LmSIDER2a_and_LmSIDER2b_NODIFF.shape[1])  # Reset column names
LmSIDER2a_and_LmSIDER2b_NODIFF.to_csv("./data/for_ggbio/7.LmSIDER2a_and_LmSIDER2b_NODIFF.csv", sep=",", header=None, index=None)  # Save data to a CSV file
LmSIDER2a_and_LmSIDER2b_NODIFF.head()

==> Shape: (50, 4)

         0       1       2      3
0  LinJ.03  263663  263691   plus
1  LinJ.03  281600  281615   plus
2  LinJ.05  110382  110396  minus
3  LinJ.05  360290  360334   plus
4  LinJ.06  203064  203091  minus

In [50]:
# Now both of the files with a difference
LmSIDER2a_diff = LmSIDER2a.copy()  # Copy the data
LmSIDER2a_diff["label"] = "LmSIDER2a"  # Add a column with the label
LmSIDER2b_diff = LmSIDER2b.copy()  # Copy the data
LmSIDER2b_diff["label"] = "LmSIDER2b"  # Add a column with the label
LmSIDER2a_and_LmSIDER2b_DIFF = pd.concat([LmSIDER2a_diff, LmSIDER2b_diff], axis=0)  # Concatenate the data
print(f"==> Shape: {LmSIDER2a_and_LmSIDER2b_DIFF.shape}")  # Show shape
LmSIDER2a_and_LmSIDER2b_DIFF.columns = range(LmSIDER2a_and_LmSIDER2b_DIFF.shape[1])  # Reset column names
LmSIDER2a_and_LmSIDER2b_DIFF.to_csv("./data/for_ggbio/8.LmSIDER2a_and_LmSIDER2b_DIFF.csv", sep=",", header=None, index=None)  # Save data to a CSV file
LmSIDER2a_and_LmSIDER2b_DIFF.head()

==> Shape: (50, 5)

         0       1       2      3          4
0  LinJ.03  263663  263691   plus  LmSIDER2a
1  LinJ.03  281600  281615   plus  LmSIDER2a
2  LinJ.05  110382  110396  minus  LmSIDER2a
3  LinJ.05  360290  360334   plus  LmSIDER2a
4  LinJ.06  203064  203091  minus  LmSIDER2a

In [51]:
# Now positives, negatives, LmSIDER2a and LmSIDER2b with difference
pos_neg_LmSIDER2a_LmSIDER2b_DIFF = pd.concat([positives_diff, negatives_diff, LmSIDER2a_diff, LmSIDER2b_diff], axis=0)  # Concatenate the data
print(f"==> Shape: {pos_neg_LmSIDER2a_LmSIDER2b_DIFF.shape}")  # Show shape
pos_neg_LmSIDER2a_LmSIDER2b_DIFF.to_csv("./data/for_ggbio/9.pos_neg_LmSIDER2a_LmSIDER2b_DIFF.csv", sep=",", header=None, index=None)  # Save data to a CSV file
pos_neg_LmSIDER2a_LmSIDER2b_DIFF.head()

==> Shape: (3059, 5)

         0      1      2     3     label
0  LinJ.01      1    173  plus  positive
1  LinJ.01  24093  24791  plus  positive
2  LinJ.01  35316  36160  plus  positive
3  LinJ.01  39698  40589  plus  positive
4  LinJ.01  54885  55772  plus  positive