In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.getcwd()

'/home/rfpacheco/Desktop/Projects/Testing_Leishmania_project/Filter_Test_1/chr1_analysis/JMR_method'

In [3]:
blast_data = pd.read_csv("../results/output3.csv", sep=",", header=None)  # Read data

In [4]:
# Define grouping elements function
def grouping_elements(main_data):
    main_list = []
    for index, element in main_data.iterrows():
        main_statement = False
        element_counter = 0
        for index2, group in enumerate(main_list):
            if element.iloc[1] in group:
                element_counter += 1
            if element.iloc[0] in group and element_counter == 0:
                group.append(element.iloc[1])
                main_statement = True
                break
            elif element_counter > 0 and element.iloc[0] in group:
                main_statement = True
                break

        if main_statement == False:
            main_list.append([element.iloc[0]])
    return main_list

In [5]:
blast_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Seq_0_LinJ.01_plus,Seq_0_LinJ.01_plus,100.000,666,666,666,0,0,1,666,1,666,0.0,1230.0,100,plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...
1,Seq_0_LinJ.01_plus,Seq_3_LinJ.01_plus,99.534,644,666,645,3,0,23,666,644,1,0.0,1173.0,97,minus,GGCACGCACCTCCATGCGTGGCATCCCAGGGTCCAGCGCCCCCCCC...
2,Seq_0_LinJ.01_plus,Seq_1_LinJ.01_plus,99.192,619,666,618,3,2,7,624,618,1,0.0,1114.0,93,minus,GGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCATCCCAGG...
3,Seq_0_LinJ.01_plus,Seq_2669_LinJ.01_minus,100.000,560,666,593,0,0,107,666,593,34,0.0,1035.0,84,minus,CCCCCTCACCCTCTATCCCTGCCAACGCCGAACCACTTCTGGTGCT...
4,Seq_0_LinJ.01_plus,Seq_2670_LinJ.01_minus,99.462,558,666,787,2,1,7,563,228,785,0.0,1013.0,84,plus,GGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCATCCCAGG...

In [6]:
# Get the unique values in a list:
print(blast_data.iloc[:,0].nunique())
values = blast_data.iloc[:,0].unique().tolist()
values

33

['Seq_0_LinJ.01_plus',
 'Seq_1_LinJ.01_plus',
 'Seq_2_LinJ.01_plus',
 'Seq_3_LinJ.01_plus',
 'Seq_4_LinJ.01_plus',
 'Seq_5_LinJ.01_plus',
 'Seq_6_LinJ.01_plus',
 'Seq_7_LinJ.01_plus',
 'Seq_8_LinJ.01_plus',
 'Seq_9_LinJ.01_plus',
 'Seq_10_LinJ.01_plus',
 'Seq_11_LinJ.01_plus',
 'Seq_12_LinJ.01_plus',
 'Seq_13_LinJ.01_plus',
 'Seq_14_LinJ.01_plus',
 'Seq_15_LinJ.01_plus',
 'Seq_16_LinJ.01_plus',
 'Seq_17_LinJ.01_plus',
 'Seq_18_LinJ.01_plus',
 'Seq_19_LinJ.01_plus',
 'Seq_20_LinJ.01_plus',
 'Seq_2668_LinJ.01_minus',
 'Seq_2669_LinJ.01_minus',
 'Seq_2670_LinJ.01_minus',
 'Seq_2671_LinJ.01_minus',
 'Seq_2672_LinJ.01_minus',
 'Seq_2673_LinJ.01_minus',
 'Seq_2674_LinJ.01_minus',
 'Seq_2675_LinJ.01_minus',
 'Seq_2676_LinJ.01_minus',
 'Seq_2677_LinJ.01_minus',
 'Seq_2678_LinJ.01_minus',
 'Seq_2679_LinJ.01_minus']

In [10]:
values_df = pd.DataFrame(values)
values_df.to_csv("../to_JMR/values.csv", sep=",", header=None, index=None)  # Write data

In [37]:
# Now let's group them
input_df = blast_data.copy()
for element in values:
    grouped_elements = grouping_elements(input_df)
    first_rows = input_df[input_df.iloc[:,0] == element]
    remaining_rows = input_df[~input_df.isin(first_rows)].dropna()
    input_df = pd.concat([remaining_rows, first_rows]) # the first elements goes at the end of the dataframe    
    
    with open(f"./results/grouped_elements_{element}.txt", "w") as file:
        for element in grouped_elements:
            file.write(str(element) + "\n")

In [38]:
# Count the number of times a group appears for each 1000 files
all_files = os.listdir("./results")
last_list = []
for index, file in enumerate(all_files, 1):
    print(f"Processing file {index}/{len(all_files)}")
    with open(f"./results/{file}", "r") as text_file:
        lines = text_file.readlines()
        for line in lines:
            counter = 0
            if line not in last_list:

                for file2 in all_files:
                    with open(f"./results/{file2}", "r") as text_file2:
                        lines2 = text_file2.readlines()
                        for line2 in lines2:
                            if line == line2:
                                counter += 1

                if counter >= 1:  # at least have to appear in 50% of the files
                    last_list.append(line)
                    
last_list = [eval(line.strip()) for line in last_list]
len(last_list)

with open(f"./final_subfamilies_once.txt", "w") as file:  # name of the final file
    for group in last_list:
        file.write(f"{group}\n")

Processing file 1/33
Processing file 2/33
Processing file 3/33
Processing file 4/33
Processing file 5/33
Processing file 6/33
Processing file 7/33
Processing file 8/33
Processing file 9/33
Processing file 10/33
Processing file 11/33
Processing file 12/33
Processing file 13/33
Processing file 14/33
Processing file 15/33
Processing file 16/33
Processing file 17/33
Processing file 18/33
Processing file 19/33
Processing file 20/33
Processing file 21/33
Processing file 22/33
Processing file 23/33
Processing file 24/33
Processing file 25/33
Processing file 26/33
Processing file 27/33
Processing file 28/33
Processing file 29/33
Processing file 30/33
Processing file 31/33
Processing file 32/33
Processing file 33/33

In [ ]:
%%script false --no-raise-error
# To save session variables
import dill

# Saving the session
with open('session.pkl', 'wb') as f:
    dill.dump_session(f)

# And loading it back later
with open('session.pkl', 'rb') as f:
    dill.load_session(f)