# Save data

In [11]:
# variables_dict = {

# }

In [12]:
# import os
# import pickle

# def data_save_load(option, dict_variables=None):
#     """
#     This function is used to save or load data for the jupyter notebook
#     """
#     path_folder = "ipynb_db"  # Folder to save variables
#     os.makedirs(path_folder, exist_ok=True)  # Create folder if not exist
#     path_file = os.path.join(path_folder, "variables.pkl") # Path to save the variables

#     if option == "save":
#         with open(path_file, "wb") as f:
#             pickle.dump(variables, f)
#     elif option == "load":
#         with open(path_file, "rb") as f:
#             variables = pickle.load(f)
#         # Now load the variables
#         for key, value in variables.items():
#             variables[key] = value

In [13]:
# data_save_load(option="load",
#                dict_variables=None)

# Code

## 1. Load data

In [14]:
import pandas as pd

### 1.1. SIDER data

In [15]:
sider_df = pd.read_csv("data/SIDER_elements.gff", sep="\t", header=None)
print(sider_df.shape)
print(sider_df.dtypes)
sider_df.head()

(2132, 9)
0    object
1    object
2    object
3     int64
4     int64
5    object
6    object
7    object
8    object
dtype: object

         0    1      2      3      4  5  6  7               8
0  LinJ.01  CBM  SIDER      2    174  .  +  .   ID=src_c01.10
1  LinJ.01  CBM  SIDER  24094  24759  .  +  .  ID=src_c01.20A
2  LinJ.01  CBM  SIDER  35372  35957  .  +  .  ID=src_c01.30A
3  LinJ.01  CBM  SIDER  39791  40596  .  +  .   ID=src_c01.40
4  LinJ.01  CBM  SIDER  54984  55548  .  +  .  ID=src_c01.50A

In the `sider_df` I only need the column 0, 3, 4, 6 and 8 columns

In [16]:
# Extracting from `sider_df`the needed columns [0, 3, 4, 6, 8]
sider_df = sider_df[[0, 3, 4, 6, 8]]
sider_df.columns = ["chrom", "start", "end", "strand", "sider_name"]
print(sider_df.shape)
print(sider_df.dtypes)
sider_df.head()

(2132, 5)
chrom         object
start          int64
end            int64
strand        object
sider_name    object
dtype: object

     chrom  start    end strand      sider_name
0  LinJ.01      2    174      +   ID=src_c01.10
1  LinJ.01  24094  24759      +  ID=src_c01.20A
2  LinJ.01  35372  35957      +  ID=src_c01.30A
3  LinJ.01  39791  40596      +   ID=src_c01.40
4  LinJ.01  54984  55548      +  ID=src_c01.50A

### 1.2 GTF data
This one wil be **harder** to prepare

In [19]:
# Load data
gtf_df = pd.read_csv("./data/20240703111001_LINF-Tabla_maestra_v3-20244_RP_v0.4.gtf", sep="\t", header=None)
print(gtf_df.shape)
print(gtf_df.dtypes)
gtf_df.head()

(45779, 9)
0    object
1    object
2    object
3     int64
4     int64
5    object
6    object
7    object
8    object
dtype: object

,0,1,2,3,4,5,6,7,8
0,LinJ.01,CBM,gene,1520,5066,.,-,.,"gene_id ""LINF_010005000""; gene_name ""LINF_0100..."
1,LinJ.01,CBM,transcript,1520,5066,.,-,.,"parent_id ""LINF_010005000""; transcript_id ""LIN..."
2,LinJ.01,CBM,CDS,3710,4711,.,-,.,"parent_id ""LINF_01T0005000""; transcript_id ""LI..."
3,LinJ.01,CBM,5utr,1520,3709,.,-,.,"parent_id ""LINF_01T0005000"";"
4,LinJ.01,CBM,3utr,4712,5066,.,-,.,"parent_id ""LINF_01T0005000"";"

From `gtf_df`I only need columns 0, 2, 3, 4, 6 and 8

In [20]:
# Get from `gtf_df` the needed columns [0, 3, 4, 6, 8]
gtf_df = gtf_df[[0, 2, 3, 4, 6, 8]]
gtf_df.columns = ["chrom", "feature", "start", "end", "strand", "attributes"]
print(gtf_df.shape)
print(gtf_df.dtypes)
gtf_df.head()

(45779, 6)
chrom         object
feature       object
start          int64
end            int64
strand        object
attributes    object
dtype: object

,chrom,feature,start,end,strand,attributes
0,LinJ.01,gene,1520,5066,-,"gene_id ""LINF_010005000""; gene_name ""LINF_0100..."
1,LinJ.01,transcript,1520,5066,-,"parent_id ""LINF_010005000""; transcript_id ""LIN..."
2,LinJ.01,CDS,3710,4711,-,"parent_id ""LINF_01T0005000""; transcript_id ""LI..."
3,LinJ.01,5utr,1520,3709,-,"parent_id ""LINF_01T0005000"";"
4,LinJ.01,3utr,4712,5066,-,"parent_id ""LINF_01T0005000"";"

Now the field `attributes` it's separated by ";" and the header its in a format like `header "data"`

# Testing

In [23]:
# Extracting more column data from the `attributes` column
test_df = gtf_df.head(10)
test_df

,chrom,feature,start,end,strand,attributes
0,LinJ.01,gene,1520,5066,-,"gene_id ""LINF_010005000""; gene_name ""LINF_0100..."
1,LinJ.01,transcript,1520,5066,-,"parent_id ""LINF_010005000""; transcript_id ""LIN..."
2,LinJ.01,CDS,3710,4711,-,"parent_id ""LINF_01T0005000""; transcript_id ""LI..."
3,LinJ.01,5utr,1520,3709,-,"parent_id ""LINF_01T0005000"";"
4,LinJ.01,3utr,4712,5066,-,"parent_id ""LINF_01T0005000"";"
5,LinJ.01,gene,5067,7570,-,"gene_id ""LINF_010005100""; gene_name ""LINF_0100..."
6,LinJ.01,transcript,5067,7570,-,"parent_id ""LINF_010005100""; transcript_id ""LIN..."
7,LinJ.01,CDS,5804,7438,-,"parent_id ""LINF_01T0005100""; transcript_id ""LI..."
8,LinJ.01,5utr,5067,5803,-,"parent_id ""LINF_01T0005100"";"
9,LinJ.01,3utr,7439,7570,-,"parent_id ""LINF_01T0005100"";"

In [24]:
# test_df.to_csv("~/Downloads/test_df.csv", index=False, sep="\t", header=True)

In [40]:
attributes_split = test_df['attributes'].str.split(";", expand=False)
print(type(attributes_split))
attributes_split

<class 'pandas.core.series.Series'>

0    [gene_id "LINF_010005000",  gene_name "LINF_01...
1    [parent_id "LINF_010005000",  transcript_id "L...
2    [parent_id "LINF_01T0005000",  transcript_id "...
3                     [parent_id "LINF_01T0005000",  ]
4                     [parent_id "LINF_01T0005000",  ]
5    [gene_id "LINF_010005100",  gene_name "LINF_01...
6    [parent_id "LINF_010005100",  transcript_id "L...
7    [parent_id "LINF_01T0005100",  transcript_id "...
8                     [parent_id "LINF_01T0005100",  ]
9                     [parent_id "LINF_01T0005100",  ]
Name: attributes, dtype: object

In [42]:
for elem in attributes_split:
    print(elem)
    break

['gene_id "LINF_010005000"', ' gene_name "LINF_010005000"', ' biotype "protein_coding"', ' notes "Protein_of_unknown_function_(DUF2946)"', ' ']

In [51]:
attributes_split = [row.split(";") for row in test_df['attributes'] if row]
attributes_split = [sublist[:-1] if sublist[-1].strip() == '' else sublist for sublist in attributes_split]
print(attributes_split)

[['gene_id "LINF_010005000"', ' gene_name "LINF_010005000"', ' biotype "protein_coding"', ' notes "Protein_of_unknown_function_(DUF2946)"'], ['parent_id "LINF_010005000"', ' transcript_id "LINF_01T0005000"', ' transcript_name "LINF_01T0005000"', ' biotype "protein_coding"', ' notes "Protein_of_unknown_function_(DUF2946)"'], ['parent_id "LINF_01T0005000"', ' transcript_id "LINF_01T0005000"'], ['parent_id "LINF_01T0005000"'], ['parent_id "LINF_01T0005000"'], ['gene_id "LINF_010005100"', ' gene_name "LINF_010005100"', ' biotype "protein_coding"', ' notes "Endonuclease/Exonuclease/phosphatase_family"'], ['parent_id "LINF_010005100"', ' transcript_id "LINF_01T0005100"', ' transcript_name "LINF_01T0005100"', ' biotype "protein_coding"', ' notes "Endonuclease/Exonuclease/phosphatase_family"'], ['parent_id "LINF_01T0005100"', ' transcript_id "LINF_01T0005100"'], ['parent_id "LINF_01T0005100"'], ['parent_id "LINF_01T0005100"']]