In [3]:
import pandas as pd

data = pd.read_csv('./negative_noCDS_relationship/negative_noCDS_relationship.csv', sep=',', header=None)
data.head(15)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Seq_0_LinJ.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Seq_1_LinJ.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Seq_2_LinJ.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Seq_3_LinJ.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Seq_4_LinJ.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Seq_5_LinJ.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Seq_6_LinJ.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Seq_7_LinJ.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Seq_8_LinJ.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Seq_9_LinJ.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Seq_10_LinJ.04,Seq_11_LinJ.04,Seq_12_LinJ.04,Seq_13_LinJ.04,Seq_14_LinJ.04,Seq_15_LinJ.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Seq_16_LinJ.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Seq_17_LinJ.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Seq_18_LinJ.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Seq_19_LinJ.05,Seq_21_LinJ.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for i, row in data.iterrows():
    print(row)
    print(len(row))
    break

0     Seq_0_LinJ.01
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
Name: 0, dtype: object
14

In [12]:
condition = data.notna().sum(axis=1)

In [17]:
filtered_data_1 = data[condition == 1]
filtered_data_1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Seq_0_LinJ.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Seq_1_LinJ.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Seq_2_LinJ.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Seq_3_LinJ.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Seq_4_LinJ.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,Seq_694_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470,Seq_695_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,Seq_696_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473,Seq_705_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477,Seq_710_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
import re 

test_list = []
for i, row in filtered_data_1.iterrows():
    for elem in row:
        if pd.notna(elem):
            pattern = r"Seq_(\d+)_LinJ"
            match = re.search(pattern, elem)
            if match:
                test_list.append(int(match.group(1)))
            else:
                print(f'Elem {elem} does not match the pattern')

In [31]:
test_list = filtered_data_1[0].str.extract(r'(\d+)')
test_list = test_list.astype(int)
print(test_list.dtypes)
test_list

0    int64
dtype: object

       0
0      0
1      1
2      2
3      3
4      4
..   ...
469  694
470  695
471  696
473  705
477  710

[373 rows x 1 columns]

In [16]:
filtered_data = data[condition > 1]
filtered_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
10,Seq_10_LinJ.04,Seq_11_LinJ.04,Seq_12_LinJ.04,Seq_13_LinJ.04,Seq_14_LinJ.04,Seq_15_LinJ.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Seq_19_LinJ.05,Seq_21_LinJ.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Seq_23_LinJ.05,Seq_24_LinJ.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Seq_26_LinJ.05,Seq_181_LinJ.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Seq_34_LinJ.07,Seq_36_LinJ.07,Seq_37_LinJ.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,Seq_686_LinJ.36,Seq_688_LinJ.36,Seq_690_LinJ.36,Seq_692_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
472,Seq_697_LinJ.36,Seq_698_LinJ.36,Seq_699_LinJ.36,Seq_700_LinJ.36,Seq_701_LinJ.36,Seq_702_LinJ.36,Seq_703_LinJ.36,Seq_704_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN
474,Seq_706_LinJ.36,Seq_709_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
475,Seq_707_LinJ.36,Seq_712_LinJ.36,Seq_713_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476,Seq_708_LinJ.36,Seq_711_LinJ.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
test_list2 = filtered_data.apply(lambda x: x.str.extract(r'(\d+)'), axis=1)
print(test_list2.dtypes)

object

10          0
0    10
1    11
2    12
3    13
4    1...
14          0
0    19
1    21
2   NaN
3   NaN
4   Na...
17          0
0    23
1    24
2   NaN
3   NaN
4   Na...
19          0
0    26
1   181
2   NaN
3   NaN
4   Na...
27          0
0    34
1    36
2    37
3   NaN
4   Na...
28          0
0    35
1    38
2   NaN
3   NaN
4   Na...
38          0
0    48
1    51
2    54
3    56
4   Na...
39          0
0    49
1    50
2    52
3    53
4    5...
42          0
0    61
1    64
2    69
3    73
4    7...
43          0
0    62
1    67
2    71
3    74
4   Na...
44          0
0    63
1    68
2    72
3    75
4   Na...
45          0
0    65
1    70
2   NaN
3   NaN
4   Na...
50          0
0    80
1    94
2   475
3   NaN
4   Na...
52          0
0    82
1    83
2    84
3    85
4   Na...
54          0
0    87
1    89
2   NaN
3   NaN
4   Na...
dtype: object