In [4]:
# Needed modules
import numpy as np
import pandas as pd

# Import data

In [48]:
genome_LmSIDER2a = pd.read_csv("./output_csv/Hallmarks_LmSIDER2a.csv", header=0, sep=",")
genome_LmSIDER2a.head()

,sseqid,sstart,send,sstrand,sseq
0,LinJ.01,75923,75949,plus,ACCTCAGCGTGGCATCCCAGGGTCCAG
1,LinJ.03,263663,263691,plus,ACCCCTCGCGGTGCAGGAAGCCGAGCAGC
2,LinJ.03,281600,281615,plus,AAGCCGAGCAGCTCCC
3,LinJ.04,331652,331589,minus,ACACCTCAGCGCGTGGTGCCTCAGCGGCCAGTGCACGCCCACTCTC...
4,LinJ.04,362905,362968,plus,ACACCTCAGCGCGTGGTGCCTCAGCGGCCAGTGCACGCCCACTCTC...

In [19]:
genome_LmSIDER2b = pd.read_csv("./output_csv/Hallmarks_LmSIDER2b.csv", header=0, sep=",")
genome_LmSIDER2b.head()

    sseqid  sstart    send sstrand                                   sseq
0  LinJ.01   24215   24251    plus  CCCTGCCAACGCCGAACCACTTCTGGTGCTGACAGGG
1  LinJ.01   35816   35780   minus  CCCTGCCAACGCCGAACCACTTCTGGTGCTGACAGGG
2  LinJ.01   55428   55392   minus  CCCTGCCAACGCCGAACCACTTCTGGTGCTGACAGGG
3  LinJ.01   76012   76048    plus  CCCTGCCAACGCCGAACCACTTCTGGTGCTGACAGGG
4  LinJ.02  204357  204336   minus                 GGGGAGGTCAGAGCGATGTATC

In [23]:
mine_LmSIDER2a = pd.read_csv("./output_csv/Mine_Hallmarks_LmSIDER2a.csv", header=None, sep=",")
mine_LmSIDER2a.columns = genome_LmSIDER2a.columns
mine_LmSIDER2a.head()

,sseqid,sstart,send,sstrand,sseq
0,LinJ.01,75659,76526,plus,GAGCGCCGCTGAGCAGGCAAGCGAGGCAACCTACGAAAACATGGCA...
1,LinJ.04,18901,19756,plus,TCTCGTGCTCTGCTGCTGTCACTCTCTTTTTTTTTTCACAACATGT...
2,LinJ.04,426702,427499,plus,CCCGCACGCCGACCCACCGCGTGGTGGCAAGCAACTTTGCACACGT...
3,LinJ.04,437658,438373,plus,TTCTATACCCTGATGACGAGGAGTGCAACTCAGCGTGGTATCACAT...
4,LinJ.05,151787,152786,plus,GAGAGCGACGATGCGCTTTGGGCGCGGTTCTTGGCTGCTGCCCAGG...

In [24]:
mine_LmSIDER2b = pd.read_csv("./output_csv/Mine_Hallmarks_LmSIDER2b.csv", header=None, sep=",")
mine_LmSIDER2b.columns = genome_LmSIDER2b.columns
mine_LmSIDER2b.head()

,sseqid,sstart,send,sstrand,sseq
0,LinJ.01,24093,24791,plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...
1,LinJ.01,35316,36160,plus,GAGGTGGAGGCCGCTCTGCCCCCCCCGCCGCCGAGTGCTGCAGGCA...
2,LinJ.01,54885,55772,plus,TGTTTGGTCTTCCGCGTGTCCGTTTTCGCTGCCGCACACTGCGAGG...
3,LinJ.01,75659,76526,plus,GAGCGCCGCTGAGCAGGCAAGCGAGGCAACCTACGAAAACATGGCA...
4,LinJ.02,314166,314781,plus,GGTGGTGCGGTGATGCACGACACGCGCACCATGCACATTTCCGTTG...

In [39]:
# Let's count how many times row[1] > row[2] for each row in the dataframe
print((genome_LmSIDER2a["sstart"] < genome_LmSIDER2a["send"]).value_counts())
print("=" * 50)
print((genome_LmSIDER2b["sstart"] < genome_LmSIDER2b["send"]).value_counts())
print("=" * 50)
print((mine_LmSIDER2a["sstart"] < mine_LmSIDER2a["send"]).value_counts())
print("=" * 50)
print((mine_LmSIDER2b["sstart"] < mine_LmSIDER2b["send"]).value_counts())

False    139
True     119
Name: count, dtype: int64
==================================================
True     317
False    303
Name: count, dtype: int64
==================================================
True    331
Name: count, dtype: int64
==================================================
True    500
Name: count, dtype: int64

Probably all "minus" values are inverted so let's move its columns

In [50]:
# Let's change values from row["sed"] to row["start"] when row["sstrand"] == "minus"
def change_row_values(df):
    """
    Change values from row["sed"] to row["start"] when row["sstrand"] == "minus"
    """
    value_start = df.loc[df["sstrand"] == "minus", "sstart"].copy()
    value_minus = df.loc[df["sstrand"] == "minus", "send"].copy()
    df.loc[df["sstrand"] == "minus", "sstart"] = value_minus
    df.loc[df["sstrand"] == "minus", "send"] = value_start

    return df

genome_LmSIDER2a = change_row_values(genome_LmSIDER2a)
genome_LmSIDER2a[genome_LmSIDER2a["sstrand"] == "minus"].head()

,sseqid,sstart,send,sstrand,sseq
3,LinJ.04,331589,331652,minus,ACACCTCAGCGCGTGGTGCCTCAGCGGCCAGTGCACGCCCACTCTC...
5,LinJ.04,391430,391493,minus,ACACCTCAGCGCGTGGTGCCTCAGCGGCCAGTGCACGCCCACTCTC...
6,LinJ.04,394549,394612,minus,ACACCTCAGCGCGTGGTGCCTCAGCGGCCAGTGCACGCCCACTCTC...
7,LinJ.04,427123,427137,minus,CTCAGCGTGGTATCA
9,LinJ.05,110382,110396,minus,GGAAGCCGAGCAGCT

In [60]:
# Let's check the maximun len() for the row["sseq"]
print(genome_LmSIDER2a["sseq"].apply(len).max())

89

In [51]:
# Now for "genome_LmSIDER2b"
genome_LmSIDER2b = change_row_values(genome_LmSIDER2b)
genome_LmSIDER2b[genome_LmSIDER2b["sstrand"] == "minus"].head()

,sseqid,sstart,send,sstrand,sseq
1,LinJ.01,35780,35816,minus,CCCTGCCAACGCCGAACCACTTCTGGTGCTGACAGGG
2,LinJ.01,55392,55428,minus,CCCTGCCAACGCCGAACCACTTCTGGTGCTGACAGGG
4,LinJ.02,204336,204357,minus,GGGGAGGTCAGAGCGATGTATC
5,LinJ.02,259346,259387,minus,CCCTTCCAACGCCGAGCCGCTTCTCGTTGTGACAGGGTCCAG
9,LinJ.04,19249,19320,minus,CCCTGCCAAGTGCACAACCACCTCTGGTGGTGACAGGGTCAAGTGC...

In [61]:
# Let's check the maximun len() for the row["sseq"]
print(genome_LmSIDER2b["sseq"].apply(len).max())

82

In [52]:
# last check
print((genome_LmSIDER2a["sstart"] < genome_LmSIDER2a["send"]).value_counts())
print("=" * 50)
print((genome_LmSIDER2b["sstart"] < genome_LmSIDER2b["send"]).value_counts())

True    258
Name: count, dtype: int64
==================================================
True    620
Name: count, dtype: int64

# Now it's the turn to compare data

 ## LmSIDER2a hallmarks

In [54]:
genome_LmSIDER2a.value_counts("sseqid")

sseqid
LinJ.31    21
LinJ.36    19
LinJ.35    18
LinJ.23    15
LinJ.27    14
LinJ.29    12
LinJ.33    11
LinJ.19    11
LinJ.26    10
LinJ.28     9
LinJ.14     9
LinJ.17     9
LinJ.34     8
LinJ.05     8
LinJ.22     8
LinJ.06     7
LinJ.30     7
LinJ.25     6
LinJ.20     6
LinJ.04     6
LinJ.24     5
LinJ.32     5
LinJ.13     4
LinJ.11     4
LinJ.10     4
LinJ.21     3
LinJ.18     3
LinJ.12     3
LinJ.09     3
LinJ.08     3
LinJ.07     3
LinJ.03     2
LinJ.16     1
LinJ.01     1
Name: count, dtype: int64

In [55]:
mine_LmSIDER2a.value_counts("sseqid")

sseqid
LinJ.23    24
LinJ.35    23
LinJ.31    22
LinJ.29    21
LinJ.36    18
LinJ.34    18
LinJ.30    18
LinJ.19    16
LinJ.33    14
LinJ.32    14
LinJ.27    14
LinJ.26    14
LinJ.25    10
LinJ.14    10
LinJ.28     9
LinJ.17     9
LinJ.11     9
LinJ.21     8
LinJ.22     8
LinJ.24     6
LinJ.20     6
LinJ.10     6
LinJ.06     6
LinJ.18     5
LinJ.05     4
LinJ.04     3
LinJ.13     3
LinJ.12     3
LinJ.16     2
LinJ.09     2
LinJ.08     2
LinJ.07     2
LinJ.15     1
LinJ.01     1
Name: count, dtype: int64

In [56]:
# Let's group them by chromosome
grouped_genome_LmSIDER2a = genome_LmSIDER2a.groupby("sseqid")
grouped_mine_LmSIDER2a = mine_LmSIDER2a.groupby("sseqid")

In [89]:
# Now let's make the comparing part
index_array_g = []  # Will save index for the intersection between both dataframes in genome data
index_array_m = []  # Will save index for the intersection between both dataframes in mine data

for _, (name_genome, group_genome) in enumerate(grouped_genome_LmSIDER2a):
    index_both_g = []  # Will save index for the intersection between both dataframes for each chromosome
    index_both_m = []

    for _, (name_mine, group_mine) in enumerate(grouped_mine_LmSIDER2a):

        if name_genome == name_mine:  # Check if the chromosome name is the same
            print(f"Analyzing chromosome {name_genome} for genome data")
            print(f"Analyzing chromosome {name_mine} for mine data")
            print(f"\tGenome dataframe has {len(group_genome)} elements")
            print(f"\tMine dataframe has {len(group_mine)} elements")

            for index, (_, hallmark) in enumerate(group_genome.iterrows()):
                for index2, (_, element) in enumerate(group_mine.iterrows()):
                    lower_end = element["sstart"]
                    upper_end = element["send"]
                    if np.logical_and(lower_end <= hallmark["sstart"], hallmark["send"] <= upper_end):
                        print(f"Hallmark element in index {index} is inside SIDER element with index {index2}")
                        index_both_g.append(index)
                        index_both_m.append(index2)
            
            index_array_g.append(index_both_g)
            index_array_m.append(index_both_m)
            
            print("=" * 50)    
        continue

Analyzing chromosome LinJ.01 for genome data
Analyzing chromosome LinJ.01 for mine data
	Genome dataframe has 1 elements
	Mine dataframe has 1 elements
Hallmark element in index 0 is inside SIDER element with index 0
==================================================
Analyzing chromosome LinJ.04 for genome data
Analyzing chromosome LinJ.04 for mine data
	Genome dataframe has 6 elements
	Mine dataframe has 3 elements
Hallmark element in index 4 is inside SIDER element with index 1
Hallmark element in index 5 is inside SIDER element with index 2
==================================================
Analyzing chromosome LinJ.05 for genome data
Analyzing chromosome LinJ.05 for mine data
	Genome dataframe has 8 elements
	Mine dataframe has 4 elements
Hallmark element in index 3 is inside SIDER element with index 0
Hallmark element in index 5 is inside SIDER element with index 1
Hallmark element in index 6 is inside SIDER element with index 2
Hallmark element in index 7 is inside SIDER element with index 3
==================================================
Analyzing chromosome LinJ.06 for genome data
Analyzing chromosome LinJ.06 for mine data
	Genome dataframe has 7 elements
	Mine dataframe has 6 elements
Hallmark element in index 0 is inside SIDER element with index 2
Hallmark element in index 2 is inside SIDER element with index 3
Hallmark element in index 4 is inside SIDER element with index 5
Hallmark element in index 5 is inside SIDER element with index 0
==================================================
Analyzing chromosome LinJ.07 for genome data
Analyzing chromosome LinJ.07 for mine data
	Genome dataframe has 3 elements
	Mine dataframe has 2 elements
Hallmark element in index 1 is inside SIDER element with index 0
Hallmark element in index 2 is inside SIDER element with index 1
==================================================
Analyzing chromosome LinJ.08 for genome data
Analyzing chromosome LinJ.08 for mine data
	Genome dataframe has 3 elements
	Mine dataframe has 2 elements
Hallmark element in index 0 is inside SIDER element with index 1
Hallmark element in index 1 is inside SIDER element with index 0
==================================================
Analyzing chromosome LinJ.09 for genome data
Analyzing chromosome LinJ.09 for mine data
	Genome dataframe has 3 elements
	Mine dataframe has 2 elements
Hallmark element in index 0 is inside SIDER element with index 0
Hallmark element in index 2 is inside SIDER element with index 1
==================================================
Analyzing chromosome LinJ.10 for genome data
Analyzing chromosome LinJ.10 for mine data
	Genome dataframe has 4 elements
	Mine dataframe has 6 elements
Hallmark element in index 0 is inside SIDER element with index 1
Hallmark element in index 1 is inside SIDER element with index 2
Hallmark element in index 2 is inside SIDER element with index 0
Hallmark element in index 3 is inside SIDER element with index 3
==================================================
Analyzing chromosome LinJ.11 for genome data
Analyzing chromosome LinJ.11 for mine data
	Genome dataframe has 4 elements
	Mine dataframe has 9 elements
Hallmark element in index 0 is inside SIDER element with index 0
Hallmark element in index 2 is inside SIDER element with index 7
Hallmark element in index 3 is inside SIDER element with index 8
==================================================
Analyzing chromosome LinJ.12 for genome data
Analyzing chromosome LinJ.12 for mine data
	Genome dataframe has 3 elements
	Mine dataframe has 3 elements
Hallmark element in index 0 is inside SIDER element with index 0
Hallmark element in index 1 is inside SIDER element with index 1
Hallmark element in index 2 is inside SIDER element with index 2
==================================================
Analyzing chromosome LinJ.13 for genome data
Analyzing chromosome LinJ.13 for mine data
	Genome dataframe has 4 elements
	Mine dataframe has 3 elements
Hallmark element in index 0 is inside SIDER element with index 0
==================================================
Analyzing chromosome LinJ.14 for genome data
Analyzing chromosome LinJ.14 for mine data
	Genome dataframe has 9 elements
	Mine dataframe has 10 elements
Hallmark element in index 0 is inside SIDER element with index 0
Hallmark element in index 1 is inside SIDER element with index 1
Hallmark element in index 2 is inside SIDER element with index 2
Hallmark element in index 3 is inside SIDER element with index 3
Hallmark element in index 4 is inside SIDER element with index 4
Hallmark element in index 5 is inside SIDER element with index 5
Hallmark element in index 6 is inside SIDER element with index 6
Hallmark element in index 7 is inside SIDER element with index 7
==================================================
Analyzing chromosome LinJ.16 for genome data
Analyzing chromosome LinJ.16 for mine data
	Genome dataframe has 1 elements
	Mine dataframe has 2 elements
Hallmark element in index 0 is inside SIDER element with index 1
==================================================
Analyzing chromosome LinJ.17 for genome data
Analyzing chromosome LinJ.17 for mine data
	Genome dataframe has 9 elements
	Mine dataframe has 9 elements
Hallmark element in index 0 is inside SIDER element with index 0
Hallmark element in index 1 is inside SIDER element with index 1
Hallmark element in index 2 is inside SIDER element with index 2
Hallmark element in index 3 is inside SIDER element with index 3
Hallmark element in index 4 is inside SIDER element with index 4
Hallmark element in index 5 is inside SIDER element with index 5
Hallmark element in index 6 is inside SIDER element with index 6
Hallmark element in index 7 is inside SIDER element with index 7
Hallmark element in index 8 is inside SIDER element with index 8
==================================================
Analyzing chromosome LinJ.18 for genome data
Analyzing chromosome LinJ.18 for mine data
	Genome dataframe has 3 elements
	Mine dataframe has 5 elements
Hallmark element in index 0 is inside SIDER element with index 2
Hallmark element in index 2 is inside SIDER element with index 3
==================================================
Analyzing chromosome LinJ.19 for genome data
Analyzing chromosome LinJ.19 for mine data
	Genome dataframe has 11 elements
	Mine dataframe has 16 elements
Hallmark element in index 0 is inside SIDER element with index 4
Hallmark element in index 1 is inside SIDER element with index 6
Hallmark element in index 2 is inside SIDER element with index 7
Hallmark element in index 3 is inside SIDER element with index 0
Hallmark element in index 5 is inside SIDER element with index 8
Hallmark element in index 7 is inside SIDER element with index 1
Hallmark element in index 8 is inside SIDER element with index 2
Hallmark element in index 9 is inside SIDER element with index 15
Hallmark element in index 10 is inside SIDER element with index 3
==================================================
Analyzing chromosome LinJ.20 for genome data
Analyzing chromosome LinJ.20 for mine data
	Genome dataframe has 6 elements
	Mine dataframe has 6 elements
Hallmark element in index 0 is inside SIDER element with index 1
Hallmark element in index 1 is inside SIDER element with index 2
Hallmark element in index 2 is inside SIDER element with index 3
Hallmark element in index 3 is inside SIDER element with index 4
Hallmark element in index 5 is inside SIDER element with index 0
==================================================
Analyzing chromosome LinJ.21 for genome data
Analyzing chromosome LinJ.21 for mine data
	Genome dataframe has 3 elements
	Mine dataframe has 8 elements
Hallmark element in index 0 is inside SIDER element with index 2
Hallmark element in index 1 is inside SIDER element with index 5
Hallmark element in index 2 is inside SIDER element with index 6
==================================================
Analyzing chromosome LinJ.22 for genome data
Analyzing chromosome LinJ.22 for mine data
	Genome dataframe has 8 elements
	Mine dataframe has 8 elements
Hallmark element in index 0 is inside SIDER element with index 2
Hallmark element in index 1 is inside SIDER element with index 3
Hallmark element in index 2 is inside SIDER element with index 4
Hallmark element in index 3 is inside SIDER element with index 5
Hallmark element in index 4 is inside SIDER element with index 0
Hallmark element in index 5 is inside SIDER element with index 6
Hallmark element in index 6 is inside SIDER element with index 1
Hallmark element in index 7 is inside SIDER element with index 7
==================================================
Analyzing chromosome LinJ.23 for genome data
Analyzing chromosome LinJ.23 for mine data
	Genome dataframe has 15 elements
	Mine dataframe has 24 elements
Hallmark element in index 0 is inside SIDER element with index 3
Hallmark element in index 1 is inside SIDER element with index 4
Hallmark element in index 2 is inside SIDER element with index 5
Hallmark element in index 3 is inside SIDER element with index 6
Hallmark element in index 4 is inside SIDER element with index 7
Hallmark element in index 5 is inside SIDER element with index 8
Hallmark element in index 6 is inside SIDER element with index 9
Hallmark element in index 7 is inside SIDER element with index 10
Hallmark element in index 8 is inside SIDER element with index 11
Hallmark element in index 10 is inside SIDER element with index 12
Hallmark element in index 11 is inside SIDER element with index 19
Hallmark element in index 12 is inside SIDER element with index 23
Hallmark element in index 13 is inside SIDER element with index 0
Hallmark element in index 14 is inside SIDER element with index 1
==================================================
Analyzing chromosome LinJ.24 for genome data
Analyzing chromosome LinJ.24 for mine data
	Genome dataframe has 5 elements
	Mine dataframe has 6 elements
Hallmark element in index 1 is inside SIDER element with index 0
Hallmark element in index 2 is inside SIDER element with index 1
Hallmark element in index 3 is inside SIDER element with index 3
Hallmark element in index 4 is inside SIDER element with index 4
==================================================
Analyzing chromosome LinJ.25 for genome data
Analyzing chromosome LinJ.25 for mine data
	Genome dataframe has 6 elements
	Mine dataframe has 10 elements
Hallmark element in index 0 is inside SIDER element with index 1
Hallmark element in index 1 is inside SIDER element with index 2
Hallmark element in index 3 is inside SIDER element with index 4
Hallmark element in index 5 is inside SIDER element with index 9
==================================================
Analyzing chromosome LinJ.26 for genome data
Analyzing chromosome LinJ.26 for mine data
	Genome dataframe has 10 elements
	Mine dataframe has 14 elements
Hallmark element in index 0 is inside SIDER element with index 12
Hallmark element in index 1 is inside SIDER element with index 13
Hallmark element in index 3 is inside SIDER element with index 3
Hallmark element in index 4 is inside SIDER element with index 5
Hallmark element in index 5 is inside SIDER element with index 6
Hallmark element in index 6 is inside SIDER element with index 6
Hallmark element in index 8 is inside SIDER element with index 9
Hallmark element in index 9 is inside SIDER element with index 11
==================================================
Analyzing chromosome LinJ.27 for genome data
Analyzing chromosome LinJ.27 for mine data
	Genome dataframe has 14 elements
	Mine dataframe has 14 elements
Hallmark element in index 3 is inside SIDER element with index 1
Hallmark element in index 4 is inside SIDER element with index 2
Hallmark element in index 5 is inside SIDER element with index 3
Hallmark element in index 6 is inside SIDER element with index 4
Hallmark element in index 7 is inside SIDER element with index 5
Hallmark element in index 8 is inside SIDER element with index 5
Hallmark element in index 9 is inside SIDER element with index 6
Hallmark element in index 10 is inside SIDER element with index 7
Hallmark element in index 11 is inside SIDER element with index 8
Hallmark element in index 12 is inside SIDER element with index 9
Hallmark element in index 13 is inside SIDER element with index 10
==================================================
Analyzing chromosome LinJ.28 for genome data
Analyzing chromosome LinJ.28 for mine data
	Genome dataframe has 9 elements
	Mine dataframe has 9 elements
Hallmark element in index 0 is inside SIDER element with index 6
Hallmark element in index 1 is inside SIDER element with index 7
Hallmark element in index 2 is inside SIDER element with index 8
Hallmark element in index 3 is inside SIDER element with index 0
Hallmark element in index 5 is inside SIDER element with index 1
Hallmark element in index 6 is inside SIDER element with index 3
Hallmark element in index 7 is inside SIDER element with index 4
Hallmark element in index 8 is inside SIDER element with index 5
==================================================
Analyzing chromosome LinJ.29 for genome data
Analyzing chromosome LinJ.29 for mine data
	Genome dataframe has 12 elements
	Mine dataframe has 21 elements
Hallmark element in index 0 is inside SIDER element with index 12
Hallmark element in index 1 is inside SIDER element with index 13
Hallmark element in index 2 is inside SIDER element with index 14
Hallmark element in index 3 is inside SIDER element with index 15
Hallmark element in index 4 is inside SIDER element with index 16
Hallmark element in index 5 is inside SIDER element with index 17
Hallmark element in index 6 is inside SIDER element with index 18
Hallmark element in index 7 is inside SIDER element with index 19
Hallmark element in index 8 is inside SIDER element with index 20
Hallmark element in index 9 is inside SIDER element with index 0
Hallmark element in index 10 is inside SIDER element with index 1
Hallmark element in index 11 is inside SIDER element with index 8
==================================================
Analyzing chromosome LinJ.30 for genome data
Analyzing chromosome LinJ.30 for mine data
	Genome dataframe has 7 elements
	Mine dataframe has 18 elements
Hallmark element in index 0 is inside SIDER element with index 11
Hallmark element in index 1 is inside SIDER element with index 12
Hallmark element in index 2 is inside SIDER element with index 1
Hallmark element in index 3 is inside SIDER element with index 2
Hallmark element in index 4 is inside SIDER element with index 13
Hallmark element in index 5 is inside SIDER element with index 9
Hallmark element in index 6 is inside SIDER element with index 10
==================================================
Analyzing chromosome LinJ.31 for genome data
Analyzing chromosome LinJ.31 for mine data
	Genome dataframe has 21 elements
	Mine dataframe has 22 elements
Hallmark element in index 1 is inside SIDER element with index 16
Hallmark element in index 2 is inside SIDER element with index 19
Hallmark element in index 3 is inside SIDER element with index 20
Hallmark element in index 4 is inside SIDER element with index 21
Hallmark element in index 7 is inside SIDER element with index 3
Hallmark element in index 8 is inside SIDER element with index 4
Hallmark element in index 9 is inside SIDER element with index 5
Hallmark element in index 11 is inside SIDER element with index 6
Hallmark element in index 12 is inside SIDER element with index 7
Hallmark element in index 14 is inside SIDER element with index 9
Hallmark element in index 15 is inside SIDER element with index 10
Hallmark element in index 16 is inside SIDER element with index 11
Hallmark element in index 17 is inside SIDER element with index 12
Hallmark element in index 18 is inside SIDER element with index 14
Hallmark element in index 20 is inside SIDER element with index 15
==================================================
Analyzing chromosome LinJ.32 for genome data
Analyzing chromosome LinJ.32 for mine data
	Genome dataframe has 5 elements
	Mine dataframe has 14 elements
Hallmark element in index 0 is inside SIDER element with index 11
Hallmark element in index 1 is inside SIDER element with index 13
Hallmark element in index 2 is inside SIDER element with index 0
Hallmark element in index 3 is inside SIDER element with index 1
Hallmark element in index 4 is inside SIDER element with index 10
==================================================
Analyzing chromosome LinJ.33 for genome data
Analyzing chromosome LinJ.33 for mine data
	Genome dataframe has 11 elements
	Mine dataframe has 14 elements
Hallmark element in index 1 is inside SIDER element with index 10
Hallmark element in index 2 is inside SIDER element with index 11
Hallmark element in index 3 is inside SIDER element with index 13
Hallmark element in index 4 is inside SIDER element with index 0
Hallmark element in index 5 is inside SIDER element with index 1
Hallmark element in index 6 is inside SIDER element with index 2
Hallmark element in index 7 is inside SIDER element with index 3
Hallmark element in index 8 is inside SIDER element with index 5
Hallmark element in index 9 is inside SIDER element with index 6
Hallmark element in index 10 is inside SIDER element with index 7
==================================================
Analyzing chromosome LinJ.34 for genome data
Analyzing chromosome LinJ.34 for mine data
	Genome dataframe has 8 elements
	Mine dataframe has 18 elements
Hallmark element in index 1 is inside SIDER element with index 6
Hallmark element in index 2 is inside SIDER element with index 2
Hallmark element in index 5 is inside SIDER element with index 14
Hallmark element in index 6 is inside SIDER element with index 3
Hallmark element in index 7 is inside SIDER element with index 0
==================================================
Analyzing chromosome LinJ.35 for genome data
Analyzing chromosome LinJ.35 for mine data
	Genome dataframe has 18 elements
	Mine dataframe has 23 elements
Hallmark element in index 0 is inside SIDER element with index 13
Hallmark element in index 1 is inside SIDER element with index 15
Hallmark element in index 2 is inside SIDER element with index 16
Hallmark element in index 3 is inside SIDER element with index 17
Hallmark element in index 5 is inside SIDER element with index 18
Hallmark element in index 6 is inside SIDER element with index 19
Hallmark element in index 7 is inside SIDER element with index 2
Hallmark element in index 9 is inside SIDER element with index 3
Hallmark element in index 10 is inside SIDER element with index 4
Hallmark element in index 11 is inside SIDER element with index 5
Hallmark element in index 12 is inside SIDER element with index 0
Hallmark element in index 13 is inside SIDER element with index 9
Hallmark element in index 14 is inside SIDER element with index 10
Hallmark element in index 15 is inside SIDER element with index 11
Hallmark element in index 16 is inside SIDER element with index 12
==================================================
Analyzing chromosome LinJ.36 for genome data
Analyzing chromosome LinJ.36 for mine data
	Genome dataframe has 19 elements
	Mine dataframe has 18 elements
Hallmark element in index 0 is inside SIDER element with index 6
Hallmark element in index 1 is inside SIDER element with index 7
Hallmark element in index 2 is inside SIDER element with index 8
Hallmark element in index 3 is inside SIDER element with index 9
Hallmark element in index 4 is inside SIDER element with index 10
Hallmark element in index 5 is inside SIDER element with index 11
Hallmark element in index 6 is inside SIDER element with index 12
Hallmark element in index 7 is inside SIDER element with index 13
Hallmark element in index 9 is inside SIDER element with index 14
Hallmark element in index 10 is inside SIDER element with index 15
Hallmark element in index 11 is inside SIDER element with index 16
Hallmark element in index 12 is inside SIDER element with index 17

In [88]:
index_array_g

[[0],
 [4, 5],
 [3, 5, 6, 7],
 [0, 2, 4, 5],
 [1, 2],
 [0, 1],
 [0, 2],
 [0, 1, 2, 3],
 [0, 2, 3],
 [0, 1, 2],
 [0],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 2],
 [0, 1, 2, 3, 5, 7, 8, 9, 10],
 [0, 1, 2, 3, 5],
 [0, 1, 2],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14],
 [1, 2, 3, 4],
 [0, 1, 3, 5],
 [0, 1, 3, 4, 5, 6, 8, 9],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [0, 1, 2, 3, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [0, 1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 7, 8, 9, 11, 12, 14, 15, 16, 17, 18, 20],
 [0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 5, 6, 7],
 [0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16],
 [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]

In [90]:
index_array_m

[[0],
 [1, 2],
 [0, 1, 2, 3],
 [2, 3, 5, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 2, 0, 3],
 [0, 7, 8],
 [0, 1, 2],
 [0],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [1],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [2, 3],
 [4, 6, 7, 0, 8, 1, 2, 15, 3],
 [1, 2, 3, 4, 0],
 [2, 5, 6],
 [2, 3, 4, 5, 0, 6, 1, 7],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 19, 23, 0, 1],
 [0, 1, 3, 4],
 [1, 2, 4, 9],
 [12, 13, 3, 5, 6, 6, 9, 11],
 [1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10],
 [6, 7, 8, 0, 1, 3, 4, 5],
 [12, 13, 14, 15, 16, 17, 18, 19, 20, 0, 1, 8],
 [11, 12, 1, 2, 13, 9, 10],
 [16, 19, 20, 21, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15],
 [11, 13, 0, 1, 10],
 [10, 11, 13, 0, 1, 2, 3, 5, 6, 7],
 [6, 2, 14, 3, 0],
 [13, 15, 16, 17, 18, 19, 2, 3, 4, 5, 0, 9, 10, 11, 12],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 0, 1, 2, 3, 4, 5]]